{% extends 'index.html' %}

{% block title %}Título de la Página{% endblock %}

{% block content %}
    <h1>Qué desea hacer?</h1>
    <a href="/admin/"><button>Iniciar como Administrador</button></a>
    <a href="/app/lista"><button>Lista de Eventos</button></a>
    <a href="/app/evento"><button>Detalles del Evento</button></a>
    <a href="/app/registrar"><button>Registrar Usuario</button></a>
    <a href="/app/buscar"><button>Buscar Evento</button></a>
    <a href="/app/añadir"><button>Registrar Evento</button></a>
    <a href="/app/asistencia"><button>Registrar Asistencia</button></a>
{% endblock %}